@page
@model BloodNetwork.Pages.Members.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Șterge</h1>

<h3>Ești sigur că vrei să ștergi acest membru?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Phone)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Member.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la listă</i></a>
    </form>
</div>
