@page
@model BloodNetwork.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Membrii</h1>
<div class="text-black" align="right">
    <a asp-page="Create" class="btn btn-outline-danger">
        <i class="bi bi-clipboard-plus">Adaugă un membru</i>
    </a>
</div>
<div class="row">
    <div class="col-md ">

        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    </div>
    </div>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="align-middle">
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-eye"></i>Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
