@page
@model BloodNetwork.Pages.Clinics.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ești sigur că vrei să ștergi această clinică?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Quantity)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Doctor)
        </dd>
        <dt dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Adress)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Clinic.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la listă</i></a>
    </form>
</div>
