@page
@model BloodNetwork.Pages.Clinics.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Clinică</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Quantity)
        </dd>
        <dt dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Doctor.DoctorName)
        </dd>
        <dt dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Adress.AdressName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clinic?.ID">Edit</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
