@page 
@model BloodNetwork.Pages.Clinics.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clinici</h1>

<form asp-page="./Index" method="get"> <div class="form-actions no-color"> <p> Caută o clinică după Numele Doctorului / Numele Adresei: <input type="text" name="SearchString" value="@Model.CurrentFilter" /> <input type="submit" value="Search" class="btn btn-primary" /> | <a asp-page="./Index" class="btn btn-lg"> <i class="bi fa-kiwi-bird">Înapoi la lista principală</i></a> </p> </div> </form>
<div class="text-black">
    <a asp-page="Create" class="btn btn-outline-danger">
        <i class="bi bi-plus-circle">Crează o nouă clinică</i>
    </a>
</div>
<div class="row">
    <div class="col-md ">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].Doctor.DoctorName)

            </th>
            <th> @Html.DisplayNameFor(model => model.Clinic[0].Adress.AdressName) 

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic[0].ClinicCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    </div>
    </div>
    <tbody>
        @foreach (var item in Model.ClinicD.Clinics)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
             </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Adress.AdressName)
            </td>
                <td>
                    @{
                        foreach (var category in item.ClinicCategories)
                                {
                                @category.Category.ID @: @category.Category.CategoryName <br />
                        }
                    }
                </td>
            <td class="align-middle">
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-eye"></i>Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
