@page
@model BloodNetwork.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii doctori</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.ProfilePictureURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.ProfilePictureURL)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-info" asp-page="./Edit" asp-route-id="@Model.Doctor?.ID">Edit</a> |
    <a asp-page="./Index" class="btn btn-lg"> <i class="bi bi-file-text-fill">Înapoi la listă</i></a>
</div>
