@page
@model BloodNetwork.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Programări</h1>

<div class="text-black" align="right">
    <a asp-page="Create" class="btn btn-outline-danger">
        <i class="bi bi-moisture">Fă o programare</i>
    </a>
</div>
<div class="row">
    <div class="col-md ">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].Member.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].Member.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].Clinic)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Appointment[0].Clinic.Doctor)

                    </th>
                    <th>
                            @Html.DisplayName("Data și Ora")
                    </th>
                    <th></th>
                </tr>
            </thead>
    </div>
   </div>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Doctor.DoctorName)
            </td>
            <div id='calendar'></div>
        <th></th>
        </tr>
   
            <td class="align-middle">
                <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Edit</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Delete</a>
            </td>
}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function () {
            // Cerem datele din calendar
            $.ajax({
                url: '/calendar/getevents', // adresa către care facem cererea HTTP
                type: 'GET', // tipul cererii HTTP
                success: function (response) {
                    // răspunsul primit conține evenimentele din calendar
                    // le vom afișa folosind biblioteca FullCalendar
                    $('#calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        events: response // evenimentele din calendar
                    });
                }
            });
        });
    </script>


    </tbody>
    </table>